/* Slider container */
.slider-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  /* Image Styling */
  .slider-images {
    display: flex;
    overflow: hidden;
  }
  
  .slider-images img {
    width: 200%;
    height: auto;
    transition: transform 0.5s ease;
  }
  
  /* Arrows Styling */
  .arrow-button {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s ease;
  }
  
  .arrow-button-left {
    left: 10px;
  }
  
  .arrow-button-right {
    right: 10px;
  }
  
  /* Navigation Dots */
  .dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  